/*     
    The first element: a black background and white text
    The second element: a yellow background
    Both elements: a font size of 28px and a list of fonts containing 
        Helvetica and Times New Roman, with sans-serif as a fallback
 */

 .click-me {
    background-color: black;
    color: white;
 }

 .no-click-me {
    background-color: hsla(56, 100%, 60%, 1);
 }

 .click-me, .no-click-me {
    font-family:'Times New Roman', Helvetica, sans-serif;
    font-size: 28px;
 }